---
layout: page
titles:
  # @start locale config
  en      : &EN       Category
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       카테고리
  ko-KR   : *KO
  fr      : &FR
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  # @end locale config
---

{% comment %} <div class="layout--archive js-all">
  <div class="js-result layout--archive__result d-none">
    {%- include category.html articles=site.posts type='brief' show_info=true reverse=false group_by='category' -%}
  </div>
</div> {% endcomment %}

<div class="layout--archive js-all">
  {%- include category-header.html -%}
  <div class="js-result layout--archive__result d-none">
    {%- include category.html articles=site.posts type='brief' show_info=true reverse=false group_by='category' -%}
  </div>
</div>

<script>
  {%- include scripts/archieve.js -%}
</script>

{{ content }}